รายได้จากคอส
<table class="table">
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Sum Value</th>
        </tr>
    </thead>
    <tbody>
        <% let sumprice = 0 %>
        <% course.forEach(val => { %>
            <tr>
                <td>
                    <%= val.name %>
                </td>
                <td>
                    <%= val.price %>
                </td>
            </tr>
            <% sumprice += parseInt(val.price) %>
            <% }) %>
            <tr>
                <td style="font-weight: bold;">รวม</td>
                <td><%= sumprice %></td>
            </tr>
    </tbody>
</table>

ยอดจ่ายของนักเรียน
<table class="table">
    <thead>
        <tr>
            <th>Student Name</th>
            <th>Sum Buy</th>
        </tr>
    </thead>
    <tbody>
        <% student.forEach(val => { %>
            <tr>
                <td>
                    <%= val.name %>
                </td>
                <td>
                    <%= val.price %>
                </td>
            </tr>
            <% }) %>
    </tbody>
</table>