<div class="container">
    <form action="/course" method="get" class="form-group">
        <input style="margin: 20px;" type="text" name="course_name" id="course_name" class="form-control" value="<%= courseNameSearch %>">
        <button style="margin: 10px 500px;" type="submit" class="btn btn-info">Serch</button>
    </form>
    
    <table class="table">
        <tr>
            <th>Course Name</th>
            <th>Detail</th>
            <th>Price</th>
            <th></th>
        </tr>
        <% course.forEach(val => { %>
        <tr>
            <td><%= val.name %></td>
            <td><%= val.detail %></td>
            <td><%= val.price %></td>
            <td>
                <a href="/course/<%= val.name %>" class="btn btn-info">More Detail</a>
            </td>
        </tr>
        <% }) %>
    </table>
</div>
