<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>surnamey</th>
            <th>idcard</th>
        </tr>
    </thead>
    <tbody>
        <% people.forEach(val => { %>
            <tr>
                <td><%= val.id %></td>
                <td><%= val.name %></td>
                <td><%= val.surname %></td>
                <td><%= val.id_card_no %></td>
            </tr>
        <% }) %>
    </tbody>
</table>