ชื่อ: <%= course_name %>
ราคา: <%= price %>
สอนโดย: <%= teacher %>
นักเรียน:

<table class="table">
    <tr>
        <th>Student Name</th>
    </tr>
    <% student.forEach(val => { %>
    <tr>
        <td><%= val.name %></td>
    </tr>
    <% }) %>
</table>