คอสที่ไม่มีคนสอน
<table class="table">
    <% courseName.forEach(val => { %>
    <tr>
        <td><%= val.name %></td>
    </tr>
    <% }) %>
</table>

<br><br>

คนสอนที่ไม่มีคอส
<table class="table">
    <% teacherName.forEach(val => { %>
        <tr>
            <td><%= val.name %></td>
        </tr>
        <% }) %>
</table>