<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Date</th>
        </tr>

    </thead>
    <tbody>
    <% data.forEach( val => { %>
        <tr>
            <td><%= val.id %></td>
            <td><%= val.name %></td>
            <td><%= val.created_at %></td>
        </tr>
    <% }) %>
    </tbody>
</table>