@import '~bootstrap/dist/css/bootstrap.min.css';
h2 {
    color: blue;
}

body {
    background-color: #ececec;
}

.pic_wraper{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 50px;
    align-items: center;
}

.pic_big{
    width: 220px;
    float: left;
    height: 200px;
    border: 1px solid #ececec;
    margin: 20px;
    background-color: #ececec;
}

.pic_small{
    width: 150px;
    float: left;
    height: 150px;
    border: 1px solid #ececec;
    margin: 20px;
    background-color: #ececec;
}