<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>firstname</th>
            <th>lastname</th>
            <th>salary</th>
            <th>role</th>
        </tr>
    </thead>
    <tbody>
        <% people.forEach(val => { %>
            <tr>
                <td><%= val.user_id %></td>
                <td><%= val.firstname %></td>
                <td><%= val.lastname %></td>
                <td><%= val.salary %></td>
                <td><%= val.role %></td>
            </tr>
        <% }) %>
    </tbody>
</table>