<div class="container">
        <h1>Contact Me</h1>
        <p>Phone: 0882936712</p>
        <p>E-mail: kanasin.kan@gmail.com</p>
        <p>Line ID: konbabas</p>
        <p>Website: -</p>
        <p>Address: 219 หมู่ 2 ต.ห้วยแห้ง อ.บ้านไร่ จ.อุทัยธานี</p>
    </div>