<div class="container">
        <h1 style="text-align: center;">About Me</h1>
        <div style="text-align: center;">
                <img src="assets/kanasin.jpg" class="img-thumbnail" alt="Cinque Terre" width="200" height="200">
        </div>
        <div style="width: 500px;margin: 0px auto">
            <p style="text-indent: 40px;word-wrap:break-word">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut.</p>
            <p style="text-indent: 40px;word-wrap:break-word">em ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut.</p>
        </div> 
    </div>