<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class="<%= (page=='index') ? 'active' : '' %>"><a href="/">About Me</a></li>
            <li class="<%= (page=='skill') ? 'active' : '' %>"><a href="/skill">Skill</a></li>
            <li class="<%= (page=='contrack') ? 'active' : '' %>"><a href="/contract">Contact Me</a></li>
            <li class="<%= (page=='portfolio') ? 'active' : '' %>"><a href="/portfolio">Portfolio</a></li>
          </ul>
        </div>
      </nav>

      