<style>
        .divleftout {
          float: left;
          width: 50%;
          height: 200px;
          margin: 0px 0px 100px 0px;
        }
    
        .divleftin {
          float: left;
          width: 50%;
          padding: 20px;
        }
      </style>

<div class="container">
        <div style="text-align: justify;border: 1px solid #000;padding: 5px 20px;border-radius: 10px;">
          <form class="form-inline" action="/action_page.php">
            <div class="form-group" style="width: 30%;">
              <span style="color: lightblue;margin: 0px 10px;font-size: 20px;" class="glyphicon glyphicon-th-large"></span>
              <span style="font-size: 20px;font-weight: bold;">My Application</span>
            </div>
            <div class="form-group input-group" style="width: 30%;">
              <input type="text" class="form-control" placeholder="Search">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </div>
            </div>
            <div class="form-group" style="width: 20%;text-align: center;">
              <button style="border-radius: 12px;float: left;" type="submit" class="btn btn-primary">Search</button>
            </div>
            <a href="#" class="btn">New Product</a>
          </form>
        </div>
    
        <div class="row" style="padding: 30px 50px;">
          <div class="divleftout">
            <div class="divleftin">
              <img src="assets/pic1.jpg" style="width: 100%;">
            </div>
            <div class="divleftin">
              <p>- e-commerce</p>
              <p>- 10,000</p>
              <p>- เว็บขายของ</p>
            </div>
          </div>
          <div class="divleftout">
            <div class="divleftin">
              <img src="assets/pic2.png" style="width: 100%;">
            </div>
            <div class="divleftin">
              <p>- react coaching</p>
              <p>- 200,000</p>
              <p>- เรียนเขียนโปรแกรมด้วยแอพพลิเคชั่น</p>
            </div>
          </div>
          <div class="divleftout">
            <div class="divleftin">
              <img src="assets/pic3.jpg" style="width: 100%;">
            </div>
            <div class="divleftin">
              <p>- Goverment Hub</p>
              <p>- 10,000,000</p>
              <p>- เว็บศูนย์กลางหน่วยงานราชการ</p>
            </div>
          </div>
          <div class="divleftout">
            <div class="divleftin">
              <img src="assets/pic4.jpg" style="width: 100%;">
            </div>
            <div class="divleftin">
              <p>- Gaming Club</p>
              <p>- 50,000</p>
              <p>- รวมทุกเรื่องของคนเล่นเกม</p>
            </div>
          </div>
        </div>