<style>
        .divinput {
            width: 300px;
            float: right;
            text-align: left;
        }

        .divtext {
            width: 150px;
            float: left;
            text-align: left;
        }

        .divmainform {
            text-align: center;
            margin: auto;
            margin: 3px 0px;
        }

        div .divinput select{
            width: auto;
            display: inline;
        }
    </style>

<div style="margin: auto;padding: 100px;">
        <div style="width: 600px;text-align: center;margin: auto;">
            <form method="post" action="#" id="frm_submit" onsubmit="check_ep($('#email').val(), $('#confirm_email').val(), $('#password').val(), $('#confirm_password').val());">
                <fieldset style="border: 1px solid #000;padding: 10px 50px;text-align: center;">
                    <legend style="text-align: left;border-bottom:none;width: auto;">Register Form</legend>
                    <div class="divmainform">
                        <div class="divtext">
                            Firstname:
                        </div>
                        <div class="divinput">
                            <input class="form-control" type="text" placeholder="กรอกชื่อ">
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div class="divmainform">
                        <div class="divtext">
                            Lastname:
                        </div>
                        <div class="divinput">
                            <input class="form-control" type="text" placeholder="กรอกนามสกุล">
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div class="divmainform">
                        <div class="divtext">
                            Password:
                        </div>
                        <div class="divinput">
                            <input class="form-control" type="password" placeholder="Password" id="password">
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div class="divmainform">
                        <div class="divtext">
                            Confirm Password:
                        </div>
                        <div class="divinput">
                            <input class="form-control" type="password" placeholder="Confirm Password" id="confirm_password">
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div class="divmainform">
                        <div class="divtext">
                            Email:
                        </div>
                        <div class="divinput">
                            <input class="form-control" type="email" placeholder="email" id="email">
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div class="divmainform">
                        <div class="divtext">
                            Confirm Email:
                        </div>
                        <div class="divinput">
                            <input class="form-control" type="email" placeholder="email" id="confirm_email" >
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div class="divmainform">
                        <div class="divtext">
                            Birthdate:
                        </div>
                        <div class="divinput">
                            <select class="form-control" id="day">
                                <option>วัน</option>
                            </select>
                            <select class="form-control" id="month">
                                <option>เดือน</option>
                            </select>
                            <select class="form-control" id="year">
                                <option>ปี</option>
                            </select>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div class="divmainform">
                        <div class="divtext">
                            Gender:
                        </div>
                        <div class="divinput form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" checked> Male
                            <input class="form-check-input" type="radio" name="gender"> Female
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <input class="btn btn-danger" type="submit">
                    <button class="btn btn-submit" type="button" onclick="window.location.replace('register_form.html')">reset</button>
                </fieldset>
            </form>
        </div>
    </div>

<script>
    let day = 31;
    let month = 12;
    let year = 50;
    for (let index = 1; index <= day; index++) {
        $('#day').append($("<option></option>")
                    .attr("value",index)
                    .text(index));
        
    }
    for (let index = 1; index <= month; index++) {
        $('#month').append($("<option></option>")
                    .attr("value",index)
                    .text(index));
        
    }
    for (let index = 1980; index <= 2005; index++) {
        $('#year').append($("<option></option>")
                    .attr("value",index)
                    .text(index));
        
    }

    function check_ep(e, ce, p, cp) {  
        if(e!==ce){
            alert('ยืนยันอีเมล์ไม่ถูกต้องกรุณากรอกใหม่');
            $('#confirm_email').focus();
            break;
        }if(p!==cp) {
            alert('ยืนยันพาสเวิร์ดไม่ถูกต้องกรุณากรอกใหม่');
            $('#confirm_password').focus();
            break;
        }else{
            $('#frm_submit').submit();
        }
    }
</script>