ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.container{
    width: 80%;
    margin: 0px auto
}

.inputtext{
    border: 1px solid #ccc !important;
    width: 50%;
    height: 30px
}

.submitBtn{
    background-color: aquamarine;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px 25px
}

.submitBtn:hover {
    background-color: salmon
}