<h3>ข้อมูลพนักงาน</h3>
<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <% employee.forEach(val => { %>
            <tr>
                <td><%= val.firstname %></td>
                <td><%= val.lastname %></td>
                <td><%= val.age %></td>
            </tr>
        <% }) %>
    </tbody>
</table>
<br>

<h3>ข้อมูลหนังสือ</h3>
<table class="table">
    <thead>
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <% books.forEach(val => { %>
            <tr>
                <td><%= val.isbn %></td>
                <td><%= val.book_name %></td>
                <td><%= val.price %></td>
            </tr>
        <% }) %>
    </tbody>
</table>