head
    block head
    title My Site
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
body
    nav(class="navbar navbar-inverse")
        div(class="container-fluid")
            ul(class="nav navbar-nav")
                li(class=page=='index' ? 'active' : '')
                    a(href="/" ) About Me
                li(class=page=='skill' ? 'active' : '')
                    a(href="/skill") Skill
                li(class=page=='contact' ? 'active' : '')
                    a(href="/contact") Contact Me
                li(class=page=='port' ? 'active' : '')
                    a(href="/portfolio") Portfolio
    div(class="container")
        h1 Contact Me
        p Phone: 0882936712
        p E-mail: kanasin.kan@gmail.com
        p Line ID: konbabas
        p Website: -
        p Address: 219 หมู่ 2 ต.ห้วยแห้ง อ.บ้านไร่ จ.อุทัยธานี