head
    block head
    title My Site
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
body
    nav(class="navbar navbar-inverse")
        div(class="container-fluid")
            ul(class="nav navbar-nav")
                li(class=page=='index' ? 'active' : '')
                    a(href="/" ) About Me
                li(class=page=='skill' ? 'active' : '')
                    a(href="/skill") Skill
                li(class=page=='contact' ? 'active' : '')
                    a(href="/contact") Contact Me
                li(class=page=='port' ? 'active' : '')
                    a(href="/portfolio") Portfolio
    div(class="container")
        h1(style="text-align: center") About Me
        div(style="text-align: center")
            img(src="kanasin.jpg" class="img-thumbnail" alt="Cinque Terre" width="200" height="200")
        div(style="width: 500px;margin: 0px auto")
            p(style="text-indent: 40px;word-wrap:break-word") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut.
            p(style="text-indent: 40px;word-wrap:break-word") em ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut.