nav(class="navbar navbar-inverse")
    div(class="container-fluid")
        ul(class="nav navbar-nav")
            li(class=page=='index' ? 'active' : '')
                a(href="/" ) About Me
            li(class=page=='skill' ? 'active' : '')
                a(href="/skill") Skill
            li(class=page=='contact' ? 'active' : '')
                a(href="/contact") Contact Me
            li(class=page=='port' ? 'active' : '')
                a(href="/portfolio") Portfolio