head
    block head
    title My Site
    style
        include ../style/style.css
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
body
    nav(class="navbar navbar-inverse")
        div(class="container-fluid")
            ul(class="nav navbar-nav")
                li(class=page=='index' ? 'active' : '')
                    a(href="/" ) About Me
                li(class=page=='skill' ? 'active' : '')
                    a(href="/skill") Skill
                li(class=page=='contact' ? 'active' : '')
                    a(href="/contact") Contact Me
                li(class=page=='port' ? 'active' : '')
                    a(href="/portfolio") Portfolio
    div(class="container")
        div(style="text-align: justify;border: 1px solid #000;padding: 5px 20px;border-radius: 10px;")
            form(class="form-inline" action="/action_page.php")
                div(class="form-group" style="width: 30%;")
                    span(style="color: lightblue;margin: 0px 10px;font-size: 20px;" class="glyphicon glyphicon-th-large")
                    span(style="font-size: 20px;font-weight: bold;") My Application
                div(class="form-group input-group" style="width: 30%;")
                    input(type="text" class="form-control" placeholder="Search")
                    div(class="input-group-btn")
                        button(class="btn btn-default" type="submit")
                            i(class="glyphicon glyphicon-search")
                div(class="form-group" style="width: 20%;text-align: center;")
                    button(style="border-radius: 12px;float: left;" type="submit" class="btn btn-primary") Search
                    a(href="#" class="btn") New Product
        div(class="row" style="padding: 30px 50px;")
            div(class="divleftout")
                div(class="divleftin")
                    img(src="pic1.jpg" style="width: 100%;")
                div(class="divleftin")
                    p - e-commerce
                    p - 10,000
                    p - เว็บขายของ
            div(class="divleftout")
                div(class="divleftin")
                    img(src="pic2.png" style="width: 100%;")
                div(class="divleftin")
                    p - react coaching
                    p - 200,000
                    p - เรียนเขียนโปรแกรมด้วยแอพพลิเคชั่น
            div(class="divleftout")
                div(class="divleftin")
                    img(src="pic3.jpg" style="width: 100%;")
                div(class="divleftin")
                    p - Goverment Hub
                    p - 10,000,000
                    p - เว็บศูนย์กลางหน่วยงานราชการ
            div(class="divleftout")
                div(class="divleftin")
                    img(src="pic4.jpg" style="width: 100%;")
                div(class="divleftin")
                    p - Gaming Club
                    p - 50,000
                    p - รวมทุกเรื่องของคนเล่นเกม