head
    block head
    title My Site
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
    style
        include ../style/style.css
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='../scripts/func.js')
body
    div(style="margin: auto;padding: 100px;")
        div(style="width: 600px;text-align center;margin: auto;")
            form(method="post" action="#" id="frm_submit" onsubmit="check_ep($('#email').val(), $('#confirm_email').val(), $('#password').val(), $('#confirm_password').val());")
                fieldset(style="border: 1px solid #000;padding: 10px 50px;text-align: center;")
                    legend(style="text-align: left;border-bottom: none;width: auto;") Register Form
                    div(class="divmainform")
                        div(class="divtext") Firstname
                        div(class="divinput")
                            input(class="form-control" type="text" placeholder="กรอกชื่อ")
                        div(style="clear: both;")
                    div(class="divmainform")
                        div(class="divtext") Lastname
                        div(class="divinput")
                            input(class="form-control" type="text" placeholder="กรอกนามสกุล")
                        div(style="clear: both;")
                    div(class="divmainform")
                        div(class="divtext") Password
                        div(class="divinput")
                            input(class="form-control" type="password" placeholder="Password" id="password")
                        div(style="clear: both;")
                    div(class="divmainform")
                        div(class="divtext") Confirm Password
                        div(class="divinput")
                            input(class="form-control" type="password" placeholder="Confirm Password" id="confirm_password")
                        div(style="clear: both;")
                    div(class="divmainform")
                        div(class="divtext") Email
                        div(class="divinput")
                            input(class="form-control" type="email" placeholder="email" id="email")
                        div(style="clear: both;")
                    div(class="divmainform")
                        div(class="divtext") Confirm Email
                        div(class="divinput")
                            input(class="form-control" type="email" placeholder="email" id="confirm_email")
                        div(style="clear: both;")
                    div(class="divmainform")
                        div(class="divtext") Birthdate
                        div(class="divinput")
                            select(class="form-control" id="day")
                                option วัน
                            select(class="form-control" id="month")
                                option เดือน
                            select(class="form-control" id="year")
                                option ปี
                        div(style="clear: both;")
                    div(class="divmainform")
                        div(class="divtext")
                            Gender
                        div(class="divinput form-check form-check-inline")
                            input(class="form-check-input" type="radio" name="gender") 
                            span Male
                            input(class="form-check-input" type="radio" name="gender") 
                            span Female
                        div(style="clear: both;")
                    input(class="btn btn-danger" type="submit")
                    button(class="btn btn-submit" type="button" onclick="window.location.replace('regis')") reset