.divleftout {
    float: left;
    width: 50%;
    height: 200px;
    margin: 0px 0px 100px 0px;
}

.divleftin {
    float: left;
    width: 50%;
    padding: 20px;
}

.divinput {
    width: 300px;
    float: right;
    text-align: left;
}

.divtext {
    width: 150px;
    float: left;
    text-align: left;
}

.divmainform {
    text-align: center;
    margin: auto;
    margin: 3px 0px;
}

div .divinput select{
    width: auto;
    display: inline;
}